
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    background-color: #e1e3ea;
    height: 100vh;
    
}
.container{
    width: 70%;
    > h1{
        color: white;
        font-size: 40px;
        padding: 10px 0;
        text-align: center;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: #E12A32;
        font-family: 'Rajdhani', sans-serif;
    }
}

@media screen and (max-width:768px){
    .container{
        width: 95%;
    }
}
@media screen and (max-width:470px){
    .container{
        width: 100%;
    }
}

section{
    width: 100%;
    background-color: #262e4c;
    
}
.text-list{
    border-radius: 0 0 0.5rem 0.5rem;
}

input{
    border: none;
    outline: none;
    background-color: wheat;
    font-size: 18px;
    color: #262e4c;
    padding: 6px;
    width: calc(98% - 80px);
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: rgba(250, 206, 125, 0.868);
        /* opacity: 0.8; */
    }
}

button{
    border: none;
    color: wheat;
    background-color: blueviolet;
    font-size: 25px;
    font-weight: 600;
    height: 40px;
    width: 78px;
    margin: 3px 3px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: purple;
        /* opacity: 0.7; */
    }
}

ul{
    list-style: none;
    color: #e1e3ea;
    padding: 0px;
    
}

ul li{
    padding: 1px;
    background-color: #262e4c;
    border-bottom: #3a4674;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li i{
    padding: 1rem;
    color: #ea0a0a;
    cursor: pointer;
    font-size: 1rem;
}

