
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    background-color: #e1e3ea;
    height: 100vh;
    
}
.container{
    width: 70%;
    
    > h1{
        color: white;
        font-size: 40px;
        padding: 10px 0;
        text-align: center;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: #E12A32;
        font-family: 'Rajdhani', sans-serif;
    }
}
